{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg" >
                <div class="card-header" style="background-color: #22668D; color:#F1F0E8;">
                    <h1 class="text-center fw-bold">{% trans "Confirm your E-mail Address" %}</h1>
                </div>
                <div class="card-body " style="background-color: #F1F0E8;  border: 0px solid rgb(100, 97, 97);">
                    <div class="container" >
                        {% if confirmation %}

                        {% user_display confirmation.email_address.user as user_display %}
                        
                        <p class="text-center" style="text-align: justify !important; line-height: 1.8;">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
                        
                        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <div class="mt-3 text-center mb-2 justify-content-around">
                            <button class="btn btn-light" style="background-color: #f7d597; border-color: #96B6C5;" type="submit">{% trans 'Confirm' %}</button>
                        </div>
                        </form>
                        
                        {% else %}
                        
                        {% url 'account_email' as email_url %}
                        
                        <p class="text-center" style="text-align: justify !important; line-height: 1.8;">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
                        
                        {% endif %}

                  
                    </div>
                
                </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}
