{% extends 'base.html'%}
{% load i18n %}
{% load static%}
{%block title%}login{%endblock title%}

{%block additionalcss%}
    <style>

    </style>


{%endblock%}
{%block content%}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-lg-5 col-12">
            <form action="" method="POST" novalidate class="shadow p-sm-4">
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3 text-center">{{ error }}</p>
                {% endfor %}
                {% endif %}
                <div class="row text-center">
                    <div class="card-header">
                        <h1 class="text-center">{% trans 'Login' %}</h1>
                    </div>
                </div>
                <div class="row mt-80 p-2">
                    {% for field in form %}
                    <div class="col-12 p-1 mt-2">
                        {% if field.name == 'remember_me' %}
                        <label class="form-check-label">
                            {{ field }} {{ field.label_tag }}
                        </label>
                        {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <small class="text-danger">{{ field.errors|striptags }}</small>
                    </div>
                    {% endfor %}
                    <div class="row justify-content-center">
                        <div class="d-grid gap-2 my-2 col-12 col-sm-8 mx-auto">
                            <button class="btn" >Login</button>
                        </div>
                        <div class=" col-12 col-sm-8 text-center text-primary fw-bold my-2">
                            <small class="mb-5"><a href="{% url 'account_reset_password' %}">Forgot Password ?</a></small>
                            <br />
                            <div class="text-center text-primary fw-bold mt-3">
                                <small>{% trans 'New to our site?' %} <a href="{% url 'account_signup' %}" class="text-danger">
                                    {% trans 'Create an Account' %}</a>
                                    </small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{%endblock content%}



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}