{%extends 'base.html'%}
{% load i18n %}
{% block navbar%}
{% endblock navbar%}
{%block title%}{% trans "Password Reset" %}{%endblock%}
{% block content%}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-lg-5 col-11 p-1">
            <h1>{% trans "Password Reset" %}</h1>
            
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise
                contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            

        </div>
    </div>
</div>


{% endblock content%}
{%block footer%}{%endblock %}