{%extends 'base.html'%}
{%block title%}signup{%endblock%}
{% load i18n %}
{% block navbar%}
{% endblock navbar%}
{% block content%}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-lg-5 col-11 p-1">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a
                    href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            <form action="" method="POST" novalidate class="form-control p-sm-4 p-4 p-lg-5">
                {% csrf_token%}
                
                {% if form.non_field_errors%}
                {% for error in form.non_field_errors%}
                {{error}}
                {% endfor%}
                {% endif%}
                <div class="row text-center">
                    <div class="col">
                        <h2 class="text-info">{% trans 'Change Password'%}</h2>
                    </div>
                </div>
                {% for field in form%}
                <div class="row mt-80">
                    <div class="col-12 p-1">
                        {{field.label_tag}}
                    </div>
                    <div class="col-12 p-1">
                        {{field}}
                    </div>
                    <div class="col-12">
                        <span style="color:red">{{field.errors | striptags}}</span>
            
                    </div>
                </div>
                {%endfor%}
                <div class="row justify-content-center p-1"></div>
            
                <div class="d-grid gap-2 col-12 mx-auto">
                    <div class="g-recaptcha"
                        style="transform:scale(0.80);-webkit-transform:scale(0.65);transform-origin:0 0;-webkit-transform-origin:0 0;"
                        data-sitekey="6LcAx3UcAAAAAGBRZd4DXhZdPoie9T8JS-qLMIq0"></div>
                </div>
                <div>
                    <div class="row justify-content-center">
                        <div class="d-grid gap-2 col-8 mx-auto">
            
                            <button class="btn btn-primary" type="submit">{% trans 'change password' %}</button>
            
                        </div>
                    </div>
            
            </form>
            
            {% endif %}
            

        </div>
    </div>
</div>


{% endblock content%}
{%block footer%}{%endblock %}