amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.3
billiard==4.1.0
Brotli==1.1.0
celery==5.3.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.3.1
cryptography==41.0.2
cssselect2==0.7.0
defusedxml==0.7.1
Django==4.2.3
django-allauth==0.54.0
django-autoslug==1.9.9
django-clearcache==1.2.1
django-dotenv==1.4.2
django-google-translate==1.1
django-nepali==0.1.0
fontawesomefree==6.4.2
fonttools==4.42.1
html5lib==1.1
idna==3.4
install==1.3.5
kombu==5.3.2
nepali==1.1.0
nepali-datetime==1.0.8.1
oauthlib==3.2.2
Pillow==10.0.0
prompt-toolkit==3.0.39
pycparser==2.21
pydyf==0.7.0
PyJWT==2.8.0
PyMySQL==1.1.0
pyphen==0.14.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3.post1
redis==4.6.0
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vine==5.0.0
wcwidth==0.2.6
weasyprint==59.0
webencodings==0.5.1
whitenoise==6.6.0
zopfli==0.2.3
