:root {
    --primary-color: #FF5A09;
    --text-color: #333;
    --background-color: whitesmoke;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --secondary-color: #FF7148;
    --input-shadow: #F3843e;
    
}

