{% load i18n %}
{%load static%}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'user:homepage'%}"><img src="{%static 'images/logo.svg'%}" alt="logo" width="50" height="28"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {%if name == 'Dashboard'%} active {%endif%}"
                        href="{%url 'dairyapp:homepage'%}">Dashboard</a>
                </li>

                <!-- <li class="nav-item">
                        <a class="nav-link {%if name == 'Dairies'%} active {%endif%}" aria-current="page" href="{% url 'dairyapp:homepage' %}" >{%trans 'Dairies'%}</a>
                    </li> -->
                <li class="nav-item">
                    <a class="nav-link {%if name == 'Fat Rates'%} active {%endif%}"
                        href="{% url 'dairyapp:fat_list' %}">{%trans 'Fat Rates'%}</a>
                </li>




                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {%trans 'Account'%}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'account_logout'%}">{%trans 'Log Out'%}</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{%include './lang_select.html'%}</a>
                   

                </li>

            </ul>
            <div class="d-flex justify-content-end">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link mx-12">{%trans 'Welcome'%},{{request.user.first_name|title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>