{% extends 'base.html'%}
{% load static%}
{% load i18n %}
{%block title%}{%trans 'Edit Dairy' %}{%endblock title%}

{%block content%}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-lg-5 col-11">
            <form action="" method="POST" novalidate class=" p-sm-5">
                {% csrf_token%}
                {% if form.non_field_errors%}
                {% for error in form.non_field_errors%}
                <p class="alert alert-danger my-3 text-center">{{error}}</p>
                {% endfor%}
                {% endif%}
                <div class="row text-center">
                    <div class="card-header" style="background-color: #22668D; color:#F1F0E8;">
                        <h1 class="text-center fw-bold">{%trans 'Edit Dairy' %}</h1>
                    </div>
                </div>
                <div class="row mt-50 p-2" style="background-color: #F1F0E8;  border: 0px solid rgb(100, 97, 97);">
                    {% for field in form%}
                    <div class="col-12 p-1">
                        {{field.label_tag}}
                    </div>
                    <div class="col-12 p-1">
                        {{field}}
                    </div>
                    <div class="col-12">
                        <small class="text-danger">{{field.errors|striptags}}</small>
                    </div>
                    {%endfor%}
                    <div class="row justify-content-center">

                        <div class="mt-3 text-center mb-4 justify-content-around">
        
                                <button class="btn btn-light" style="background-color: #f7d597; border-color: #96B6C5;" type="submit">{%trans 'Submit' %}</button>
        
                            </div>
                    </div>
                
                    </div>

                </form>
            </div>
            </div>
        </div>
    <script>
        $(document).ready(function () {
            $('.dairy-member-select').select2();

        });
    </script>
</div>
{%endblock content%}