{%extends "../base.html"%}
{%load i18n%}
{%block title%}{%trans 'fatrate list' %}{%endblock title%}
{%block table_data%}
<div class="container">
    
    <table class="table">
        <div class="row">
            <div class="col">
                <a class="float-end nav-link " href="{%url  'dairyapp:create-fat'%}">{%trans 'Add Fat Rates'%}</a>
            </div>
        </div>
        
        <thead>
            <tr>
                <th scope="col">{%trans 'Id'%}</th>
                <th scope="col">{%trans 'Fat Rate'%}</th>
                <th scope="col">{%trans 'Dairy'%}</th>
                <th scope="col">{%trans 'Actions'%}</th>
    
            </tr>
        </thead>
        <tbody>
            {%for fatrate in fatrates%}
            <tr>
                <th scope="row">{{fatrate.id}}</th>
                <td>{{fatrate.fat_rate}}</td>
                <td>{{fatrate.dairy}}</td>
                <td>
                    <form action="{% url 'dairyapp:edit_fat' fatrate.id%}" class="d-inline">
                        <button type="submit" class="btn btn-danger">{%trans 'edit' %}</button>
                    </form>
                    <form action="{% url 'dairyapp:delete_fat' fatrate.id%}" id="del-form" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">{%trans 'delete' %}</button>
                    </form>
                </td>
    
            </tr>
            {%endfor%}
    
    
    
        </tbody>
    </table>
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{%trans 'Delete Fat Rate'%}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete fat rate?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{%trans 'No'%}</button>
                    <button type="button" class="btn btn-primary" id="yes-button">{%trans 'Yes'%}</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>
    document.getElementById('yes-button').addEventListener("click",()=>{
        console.log("hello")
        document.getElementById("del-form").submit()
    })
</script>
{%endblock%}