{%extends "../base.html"%}
{% load i18n %}
{%load static%}
{%block title%}{%trans 'homepage' %}{%endblock title%}
{%block additionalcss%}
    <link rel="stylesheet" href="{%static 'css/btn_icon.css'%}">
{%endblock%}
{%block table_data%}

<div class="container">
    <table class="table table-bordered table-striped">
        <a class="float-end nav-link mt-3 mb-2" href="{%url  'dairyapp:create_dairy'%}"><button class="btn">Add Dairy </button></a>
        <thead>
            <tr>
                <th scope="col">{%trans 'Id'%}</th>
                <th scope="col">{%trans 'Name'%}</th>
                <th scope="col">{%trans 'User'%}</th>
                <th scope="col">{%trans 'Location'%}</th>
                <th scope="col">{%trans 'Verified'%}</th>
                <th scope="col">{%trans 'List Records'%}</th>
                <th scope="col">{%trans 'List Members'%}</th>
                <th scope="col">{%trans 'Actions'%}</th>
    
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {%for dairy in dairies%}
            <tr>
                <th scope="row">{{dairy.id}}</th>
                <td>{{dairy.name}}</td>
                <td>{{dairy.user}}</td>
                <td>{{dairy.location}}</td>
                <td>{{dairy.is_verified}}</td>
                <td>
                    
                    <a href="{% url 'dairyapp:milk_record' dairy.name%}">{%trans 'view' %}</a>
                </td>
                <td>
                    <form action="{% url 'dairyapp:list_dairy_members' dairy=dairy.name%}" class="d-inline">
                        <button type="submit" class="button-with-icon"><i style="color:var(--primary-color);" class="fa-solid fa-eye fa-xl"></i></i></button>
                    </form>
                   
                
                </td>
                <td>
                    <form action="{% url 'dairyapp:update_dairy' dairy.id%}" class="d-inline">
                        <button type="submit" class="button-with-icon"><i class="fa-solid fa-pen-to-square fa-xl" style="color: var(--secondary-color);"></i></button>
                    </form>
    
                </td>
            </tr>
            {%endfor%}
    
        </tbody>
    </table>
</div>
{%endblock%}