{%extends "../base.html"%}
{% load i18n %}
{%block title%}{%trans 'homepage' %}{%endblock title%}
{%block table_data%}

<div class="container">
    <table class="table">
        <a class="float-end nav-link " href="{%url  'dairyapp:create_dairy'%}">Add Dairy</a>
        <thead>
            <tr>
                <th scope="col">{%trans 'Id'%}</th>
                <th scope="col">{%trans 'Name'%}</th>
                <th scope="col">{%trans 'User'%}</th>
                <th scope="col">{%trans 'Location'%}</th>
                <th scope="col">{%trans 'Verified'%}</th>
                <th scope="col">{%trans 'List Records'%}</th>
                <th scope="col">{%trans 'List Members'%}</th>
                <th scope="col">{%trans 'Actions'%}</th>
    
            </tr>
        </thead>
        <tbody>
            {%for dairy in dairies%}
            <tr>
                <th scope="row">{{dairy.id}}</th>
                <td>{{dairy.name}}</td>
                <td>{{dairy.user}}</td>
                <td>{{dairy.location}}</td>
                <td>{{dairy.is_verified}}</td>
                <td><a href="{% url 'dairyapp:milk_record' dairy.name%}">{%trans 'view' %}</a></td>
                <td><a href="{% url 'dairyapp:list_dairy_members' pk=dairy.id dairy=dairy.name%}">{%trans 'view' %}</a></td>
                <td>
                    <form action="{% url 'dairyapp:update_dairy' dairy.id%}" class="d-inline">
                        <button type="submit" class="btn btn-danger">{%trans 'edit'%}</button>
                    </form>
    
                </td>
            </tr>
            {%endfor%}
    
        </tbody>
    </table>
</div>
{%endblock%}