{% extends 'base.html'%}
{% load static%}
{% load i18n %}
{%block title%}{%trans 'List Dairy Members' %}{%endblock title%}

{%block additionalcss%}
    <link rel="stylesheet" href="{%static 'css/btn_icon.css'%}">
{%endblock%}
{%block content%}

<div class="container mt-5" style="min-width: 200px; max-width:900px;">
    <div class="row justify-content-end">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <form action="" class="d-flex">
                
                <input required placeholder="search" class="form-control me-2" type="text" name="name" id="baf">
                <button class="button-with-icon"><i style="color: var(--primary-color);" class="fa-solid fa-magnifying-glass fa-xl"></i></button>
            </form>
            
        </div>
        <div id="search-results">

        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col no-underline">{%trans 'Id'%}</th>
                <th scope="col">{%trans 'First Name'%}</th>
                <th scope="col">{%trans 'Middle Name'%}</th>
                <th scope="col">{%trans 'Last Name'%}</th>
                <th scope="col">{%trans 'Phone Number'%}</th>
                <th scope="col">{%trans 'Profile'%}</th>
                <th scope="col">{%trans 'Actions'%}</th>
            </tr>
        </thead>
        <tbody>
            <div class="tbody">
                {%for member in members%}
                
                <tr>
                    <th scope="row"><a href="{% url 'dairyapp:member_milk_record' id=member.id dairy=dairy%}">{{member.id}}</a></th>
                    <td>{{member.first_name}}</td>
                    <td>
                        {%if member.middle_name%}
                        {{member.middle_name}}
                        {%else%}
                        <span class="text-center">-</span>
                        {%endif%}
                    </td>
                    <td>{{member.last_name}}</td>
                    <td>{{member.phone_number}}</td>
                    <td>
                        <div class="avatar-wrapper">
                            {%with pic=member.profile.profile_pic.url %}
                            {%if pic%}
                            <img class="rounded-circle" src="{{member.profile.profile_pic.url}}" alt="No img">
                            {%else%}
                            <div class="custom-circular-image">
                                <span class="initial-letter">{{member.first_name|slice:":1"}}{{member.last_name|slice:":1"}}</span>
                            </div>
                
                            {%endif%}
                            {%endwith%}
                
                
                        </div>
                    </td>
                    <td>
                        <form action="{%url  'dairyapp:create_milk_record' dairy=dairy id=member.id %}" class="d-inline">
                            <button type="submit" class="button-with-icon"><i style="color:var(--primary-color)"
                                    class="fa-solid fa-plus fa-xl"></i></button>
                        </form>
                
                    </td>
                </tr>
                
                {%endfor%}

            </div>

            
            
        </tbody>
    </table>
    
    
</div>
{%endblock content%}