{%extends "../base.html"%}
{%load static%}
{% load i18n %}
{%block title%}{%trans 'Milk Record' %}{%endblock title%}


{%block content%}
<div  >
    <div class="container">
        <div class="row">
            
            {%if total_price != 0%}
            <!-- <a role="button" id="send-email-report-form" href="{%url 'dairyapp:milk_report_email'%}">
                send milk report
            </a> -->
            <div class="row  fw-bold mt-1 mb-3">
                <a role ="button" id ="send-email-report-form" class="float-end nav-link " href="{%url 'dairyapp:milk_report_email'%}">
                    <div class="btn btn-dark" style="background-color: #22668D;">Send Milk Record</div>
                    </a>
            </div>
        {%endif%}
        </div>
         <div id="filter" >
        <div class="row " >
            <div class="col-lg-4 p-2" >
                <p class="fw-bold p-2 " data-mdb-inline="true" style="background-color: #f6f6f0" >{%trans 'Date' %}:  <input type="date" data-single="true" class="date-picker"  id="date" {%if date %} value="{{date}}" {%endif%}></p>
                <br/>
                <p class="fw-bold p-2" style="background-color: #FFFADD" >{%trans 'Start Date' %}:  <input type="date" data-single="true" id="start_date" name="start-date" class="date-picker" {%if start_date %} value="{{start_date}}" {%endif%}></p>
            </div>

            <div class="col-lg-4 p-2">
                <p class="fw-bold p-2" style="background-color: #FFFADD" >{%trans 'End Date' %}: <input type="date" data-single="true" id="end_date" data-single="true" name="end-date" class="date-picker" {%if end_date %} value="{{end_date}}" {%endif%}></p>
                <br/>
                <div style="background-color: #FFFADD;">
                <p class="fw-bold ps-2 pt-2" style="display: inline-block;">{%trans 'Shift' %}:</p>
                {%if shift and shift == "morning" %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="shift" id="morning" value="morning" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        {%trans 'morning' %}
                    </label>
                </div>
                {%else%}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="shift" id="morning" value="morning">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {%trans 'morning' %}
                    </label>
                </div>
                {%endif%}
                {% if shift and shift == 'night' %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="shift" id="night" value="night" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        {%trans 'night' %}
                    </label>
                </div>
                {%else%}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="shift" id="night" value="night">
                    <label class="form-check-label" for="flexRadioDefault2">
                        {%trans 'night' %}
                    </label>
                </div>
                {%endif%}
                </div>
            </div>

            
        </div>

        <div class="row">
            <div class="col-lg-10 col-md-12 d-flex justify-content-end my-2">
                
                    <a class="float-end nav-link " href="{%url  'dairyapp:create_milk_record' dairy=dairy id=id %}">
                        <div class="btn btn-dark" style="background-color: #22668D;">Add Milk Record</div>
                        </a>
                
            </div>
        </div>
        
        
        <script src="{% static 'js/nepali-date-picker.min.js'%}"></script>
        <!-- Dateq<input type="text" data-single="true" class="date-picker" placeholder="Select Date(s)"> -->
    </div>
</div>
</div>

{%block messageinfo%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

{%endblock messageinfo%}
{%block table_data%}

<div class="container">


<div class="col-lg-10 col-md-12 d-flex justify-content-start">
<table class="table table-bordered table-striped">

<!-- 
    <a class="float-end nav-link " href="{%url  'dairyapp:create_milk_record' dairy=dairy id=id %}">Add Milk Record</a> -->
    <thead>
        <tr>
            <th scope="col">{% trans 'Id' %}</th>
            <th scope="col">{% trans 'Dairy' %}</th>
            <th scope="col">{% trans 'User' %}</th>
            <th scope="col">{% trans 'Shift' %}</th>
            <th scope="col">{% trans 'Milk Weight' %}</th>
            <th scope="col">{% trans 'Milk Fat' %}</th>
            <th scope="col">{% trans 'Date' %}</th>
            <th scope="col">{% trans 'Actions' %}</th>

        </tr>
    </thead>
    {%if milkrecords%}
        <tbody>
            {%for milkrecord in milkrecords%}
            <tr>
                <th scope="row">{{milkrecord.id}}</th>
                <td>{{milkrecord.dairy}}</td>
                <td>{{milkrecord.user}}</td>
                <td>{{milkrecord.shift}}</td>
                <td>{{milkrecord.milk_weight}}</td>
                <td>{{milkrecord.milk_fat}}</td>
                <td>{{milkrecord.date}}</td>
                <td>
                    <form action="{% url 'dairyapp:update_milk_record' id=milkrecord.id dairy=dairy%}" class="d-inline">
                        <button type="submit" class="btn btn-dark" style="background-color: #22668D;">{%trans 'edit' %}</button>
                    </form>
                    <form action="#" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">{%trans 'delete'%}</button>
                    </form>
                </td>
        
            </tr>   
        
            {%endfor%}
            <tr>
                <th scope="row">{%trans 'Details'%}</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <h3>{{total_milk_wieght}}</h3>
                </td>
                <td>
                    <h3>{{avg_fat}}</h3>
                </td>
                <td>
                    <h3>{{milkrecord.date}}</h3>
                </td>
            </tr>
            
            <tr>
                <th scope="row">{% trans 'Total Amount' %}:</th>
                <td colspan="3">{{ total_price }}</td>
            </tr>
        
        </tbody>
    {%endif%}
    
</table>
</div>  
</div>
{%for member in members%}
{{member.first_name}}|{{member.last_name}}|{{member.phone_number}}
{%endfor%}

    
<script>
    // Function to construct the query string with the provided filter parameters
    function constructQueryString() {
        const shift = getSelectedShift();
        const date = document.getElementById('date').value;
        console.log("date", date)
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;

        // Construct the query string based on the provided filter parameters
        let queryString = '';
        if (shift) queryString += `shift=${encodeURIComponent(shift)}&`;
        if (date) queryString += `date=${encodeURIComponent(date)}&`;
        if (startDate) queryString += `start_date=${encodeURIComponent(startDate)}&`;
        if (endDate) queryString += `end_date=${encodeURIComponent(endDate)}`;

        return queryString;
    }

    // Function to get the selected "shift" value
    function getSelectedShift() {
        const shiftRadios = document.querySelectorAll('input[name="shift"]');
        let selectedShift = null;

        for (const radio of shiftRadios) {
            if (radio.checked) {
                selectedShift = radio.value;
                break;
            }
        }

        return selectedShift;
    }

    // Function to trigger the GET request with the updated filter parameters
    function updateFiltersAndGetData(e) {
        console.log("update filtre called", e)
        const queryString = constructQueryString();
        console.log(queryString)

        location.href = "{% url 'dairyapp:member_milk_record' id=id dairy=dairy%}?" + queryString
        // Perform the GET request using JavaScript's fetch API or any other method you prefer
        // Replace 'YOUR_API_ENDPOINT' with the actual endpoint URL
        /*fetch(`/api/data/?${queryString}`)
            .then((response) => response.json())
            .then((data) => {
                // Handle the retrieved data as needed
                console.log(data);
            })
            .catch((error) => {
                console.error('Error fetching data:', error);
            });*/
    }






    // Add event listeners to each input field to trigger the GET request when the value changes
    // Add event listener to the radio buttons to trigger the GET request when the selected "shift" changes
    const shiftRadios = document.querySelectorAll('input[name="shift"]');
    for (const radio of shiftRadios) {
        radio.addEventListener('change', updateFiltersAndGetData);
    }
    document.getElementById('date').addEventListener('input', updateFiltersAndGetData);
    document.getElementById('start_date').addEventListener('input', updateFiltersAndGetData);
    document.getElementById('end_date').addEventListener('input', updateFiltersAndGetData);

    function addValue() {

    }



    $(document).ready(function () {

        const url = new URLSearchParams(location.search)
        console.log(url)
        let href = document.getElementById("send-email-report-form").href

        const encodedDairyName = encodeURIComponent("{{dairy}}");
        let params = `?id={{id}}&dairy=${encodedDairyName}&`
        for (const [key, value] of url) {
            params += `${key}=${value}&`
            console.log(`${key}:${value}`);
        }
        console.log("params", params)
        href = href + params
        console.log("action", href)
        let new_form = document.getElementById("send-email-report-form")
        new_form.href = href
        //new_form.submit()

        //let new_form = document.getElementById("send-email-report-form")
        //new_form.action = 'http://127.0.0.1:8000'

    })

    


</script>



<script>
    /*$(document).ready(function () {
        //$('.id_user').select2();
        //$('.id_dairy').select2();

        // Find the input element with the specified ID
        var $oldInput = $(".date-picker");

        // Create a new input element with the desired type
        var $newInput = $("<input>").attr({
            "type": "text",
            "id": $oldInput.attr("id"),
            "name": $oldInput.attr("name"),
            "value": $oldInput.val(),
            "class": $oldInput.attr("class"),
            "data-singal": "true"
            // Add any other attributes you need to copy
        });
        

        // Replace the old input element with the new one
        $oldInput.replaceWith($newInput);
        
    });*/
    
   
    





</script>
<script>
  

           /* $(function () {
                $('.date-picker').nepaliDatePicker();
            });
            $("#date").on("dateSelect", function (event) {
                    event.preventDefault()
                    console.log("hello guys")
                });*/

    
</script>
{%endblock%}

{%endblock content%}