{% extends 'base.html'%}
{% load i18n %}
{% load static%}
{%block title%}create milk record{%endblock title%}


{%block content%}
<script src="{% static 'js/nepali-date-picker.min.js'%}"></script>

<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-lg-5 col-11  ">
            <form id="milkRecordForm" onsubmit="handleSubmit(event)" method="POST" novalidate class="p-sm-5">
                {{ formset.management_form }}
                {% csrf_token%}
                {%for form in formset%}
                    {% if form.non_field_errors%}
                    {% for error in form.non_field_errors%}
                    <p class="alert alert-danger my-3 text-center">{{error}}</p>
                    {% endfor%}
                    {% endif%}
                    <div class="row text-center">
                        <div class="card-header" style="background-color: #22668D; color:#F1F0E8;">
                            <h1 class="text-center fw-bold">{%trans 'Create Milk Record' %}</h1>
                        </div>
                    </div>
                    <div class="row mt-50 p-2" style="background-color: #F1F0E8;  border: 0px solid rgb(100, 97, 97);">
                        {% for field in form%}
                        {%if not field.is_hidden%}
                            <div class="col-12 p-1">
                                {{field.label_tag}}
                            </div>
                        {%endif%}
                        
                        <div class="col-12 p-1">
                            {{field}}
                        </div>
                        <div class="col-12">
                            <small class="text-danger">{{field.errors|striptags}}</small>
                        </div>
                        {%endfor%}
                        
                        {%endfor%}
                        <div class="row justify-content-center">

                            <div class="mt-3 text-center mb-0  justify-content-around">
            
                                    <button class="btn btn-light " style="background-color: #f7d597; border-color: #96B6C5;" type="submit">{%trans 'Submit' %}</button>
            
                                </div>
                        </div>
                        
                    </div>
            </form>
        </div>
    </div>
    <div id="id">
        
    </div>
    <script src="
    https://cdn.jsdelivr.net/npm/nepali-date-converter@3.3.1/dist/nepali-date-converter.umd.min.js
    "></script>

    <script>
        $(document).ready(function () {
            
            
            let oldInput = document.getElementById("id_form-0-date");
            

            //get nepali date
            let date = new NepaliDate()
            let dateObj = date.format('YYYY-MM-DD')
            console.log(date.getDateObject().BS)
            let newInput = document.createElement("input")
            newInput.setAttribute("type","text")
            newInput.setAttribute("class","date-picker form-control")
            newInput.setAttribute("name","form-0-date")
            newInput.setAttribute("id","id_form-1-date")
            newInput.setAttribute("data-single", true)
            newInput.setAttribute("value", dateObj)

            console.log(newInput)
            console.log(oldInput)
            
            

            
            
            
            oldInput.replaceWith(newInput)
            $('.date-picker').nepaliDatePicker();
        });
        



    </script>

    <script>

        function handleSubmit(e){
            event.preventDefault();
            let dateinput = document.getElementById("id_form-1-date")
            console.log(dateinput.value)
            let nepadiDateObj = new NepaliDate(dateinput.value)
            let enDate = nepadiDateObj.getAD()
            console.log(enDate.month+1)
            let year = enDate.year
            let month = enDate.month+1
            month = month<10?'0'+month:month
            let date = enDate.date
            date = date<10?'0'+date:date

            let val =  `${month}/${date}/${year}`
            console.log(val)
            dateinput.value =val
            document.getElementById('milkRecordForm').submit()

        }
    </script>

</div>



{%endblock content%}