{% extends 'base.html'%}
{% load i18n %}
{% load static%}
{%block title%}{% trans 'Edit Milk Record' %}{%endblock title%}

{%block content%}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-8 col-lg-5 col-12">
            <form id="update-fat-form" action="" onsubmit="handleSubmit()" method="POST" novalidate
                class="shadow p-sm-4 p-4 p-lg-5">
                {% csrf_token%}
                {% if form.non_field_errors%}
                {% for error in form.non_field_errors%}
                <p class="alert alert-danger my-3 text-center">{{error}}</p>
                {% endfor%}
                {% endif%}
                <div class="row text-center">
                    <div class="col">
                        <h2 class="">{%trans 'Update Milk Record' %}</h2>
                    </div>
                </div>
                {% for field in form%}
                <div class="row mt-80">
                    <div class="col-12 p-1">
                        {{field.label_tag}}
                    </div>
                    <div class="col-12 p-1">
                        {{field}}
                    </div>
                    <div class="col-12">
                        <small class="text-danger">{{field.errors|striptags}}</small>
                    </div>
                </div>
                {%endfor%}
                <div class="row justify-content-center">
                    <div class="d-grid gap-2 my-2 col-12 col-sm-8 mx-auto">
                        <button class="btn" type="submit">{%trans 'Submit' %}</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/nepali-date-picker.min.js'%}"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/nepali-date-converter@3.3.1/dist/nepali-date-converter.umd.min.js"></script>

    <script>
        $(document).ready(function () {

            //event.preventDefault();
            let dateinput = document.getElementById("id_date")
            console.log("loaded")
            console.log("hello")
            if (dateinput) {
                console.log("inside if")
                //dateinput.setAttribute("data-single",true);
                console.log(dateinput.value)
                console.log(dateinput)

                let nepaliDateObj = new NepaliDate(new Date(dateinput.value))
                //enDate = nepaliDateObj.getBS()
                //enDate.setMonth(enDate.month + 1)
                console.log(nepaliDateObj)
                //console.log(enDate)
                console.log(nepaliDateObj.format('YYYY-MM-DD'))
                dateinput.value = nepaliDateObj.format('YYYY-MM-DD')

                $('.date-picker').nepaliDatePicker();
                console.log(dateinput)



            }



        });
    </script>

    <script>

        function handleSubmit(e) {
            event.preventDefault();
            let dateinput = document.getElementById("id_date")
            console.log(dateinput.value)
            let nepadiDateObj = new NepaliDate(dateinput.value)
            let enDate = nepadiDateObj.getAD()
            console.log(enDate.month + 1)
            let year = enDate.year
            let month = enDate.month + 1
            month = month < 10 ? '0' + month : month
            let date = enDate.date
            date = date < 10 ? '0' + date : date

            let val = `${month}/${date}/${year}`
            console.log(val)
            dateinput.value = val
            document.getElementById('update-fat-form').submit()

        }
    </script>

</div>
{%endblock content%}