{% extends 'base.html'%}
{% load i18n %}
{% load static%}
{%block title%}create milk record{%endblock title%}


{%block content%}
<script src="{% static 'js/nepali-date-picker.min.js'%}"></script>

<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-lg-5 col-11  ">
            <form method="POST" novalidate class="p-sm-5">
                {{ formset.management_form }}
                {% csrf_token%}
                {%for form in formset%}
                    {% if form.non_field_errors%}
                    {% for error in form.non_field_errors%}
                    <p class="alert alert-danger my-3 text-center">{{error}}</p>
                    {% endfor%}
                    {% endif%}
                    <div class="row text-center">
                        <div class="card-header" style="background-color: #22668D; color:#F1F0E8;">
                            <h1 class="text-center fw-bold">{%trans 'Create Milk Record' %}</h1>
                        </div>
                    </div>
                    <div class="row mt-50 p-2" style="background-color: #F1F0E8;  border: 0px solid rgb(100, 97, 97);">
                        {% for field in form%}
                        {%if not field.is_hidden%}
                            <div class="col-12 p-1">
                                {{field.label_tag}}
                            </div>
                        {%endif%}
                        
                        <div class="col-12 p-1">
                            {{field}}
                        </div>
                        <div class="col-12">
                            <small class="text-danger">{{field.errors|striptags}}</small>
                        </div>
                        {%endfor%}
                        
                        {%endfor%}
                        <div class="row justify-content-center">

                            <div class="mt-3 text-center mb-0  justify-content-around">
            
                                    <button class="btn btn-light " style="background-color: #f7d597; border-color: #96B6C5;" type="submit">{%trans 'Submit' %}</button>
            
                                </div>
                        </div>
                        
                    </div>
            </form>
        </div>
    </div>
    

    <script>
        $(document).ready(function () {
            //$('.id_user').select2();
            //$('.id_dairy').select2();

            // Find the input element with the specified ID
            var $oldInput = $(".date-picker");

            // Create a new input element with the desired type
            var $newInput = $("<input>").attr({
                "type": "text",
                "id": $oldInput.attr("id"),
                "name": $oldInput.attr("name"),
                "value": $oldInput.val(),
                "class": $oldInput.attr("class"),
                "date-singal": "true"
                // Add any other attributes you need to copy
            });

            // Replace the old input element with the new one
            $oldInput.replaceWith($newInput);
            $('.date-picker').nepaliDatePicker();
        });
        



    </script>

</div>



{%endblock content%}