
{%load static%}
{%load i18n%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{%static 'js/jquery.min.js'%}"></script>
</head>
<body>
    
    <script src="{% static 'js/nepali-date-picker.min.js'%}"></script>
    Date<input type="text" data-single="true" class="date-picker" placeholder="Select Date(s)">
    Dateq<input type="text" data-single="true" class="date-picker" placeholder="Select Date(s)">
    <script>
        $(function () {
            $('.date-picker').nepaliDatePicker();
            document.getElementById('date').addEventListener('input', (event) => {
                console.log("hello");
            });
        });

    </script>

</body>
</html>

