{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <!-- Logo column -->
      <div class="col-md-6">
        <!-- Add your logo here with alt text -->
        <div class="mb-4 text-center">
          <img src="{% static 'images/logo.svg' %}" alt="Mero Dairy Logo" class="img-fluid" width="800" height="800">
        </div>
      </div>
      <!-- Welcome content column with right padding -->
      <div class="col-md-6 pr-5">
        <h1 class="display-4">Welcome to <strong>New 2 New Mero Dairy</strong> </h1>
        <p class="lead">Revolutionizing dairy farming </p><br><br>
        <div class="row">
          {{daireis}}
          {% for dairy in dairies %}
          <div class="col-lg-6 col-md-6 col-12 col-sm-6 mb-4">
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">{{ dairy.name }}</h5>

                <a href="{% url 'user:member_milk_record' dairy=dairy.slug %}" class="btn"
                  style="background-color: #22668D">{%trans 'List Records'%}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}